body{
    background-color: black;
   
}

@font-face {
    font-family: "poxel-font";
    src: url("/wolfenbomberstein/assets/poxel-font.ttf");

   }

.container_titre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    flex-direction: row;


    
}
.titre{
    font-family: "poxel-font";
    color: white;
    font-size: 26px;
}

.lvl{
  font-family: "poxel-font";
  color: #50dfdb;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;  
}



.texte{
   color: white; 
}


 
#victoire{
  display: flex;
  display: none;
  color: white;
  font-size: 56px;
  z-index: 99;
  background-color: #111845;
  position: relative;
  font-family: "poxel-font";
  width: 50%;
  margin: auto;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
  margin: auto;

}
#mort{
  display: flex;
  display: none;
  color: white;
  font-size: 56px;
  z-index: 99;
  background-color: #111845;
  position: relative;
  font-family: "poxel-font";
  width: 50%;
  margin: auto;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
  margin: auto;

}



.container_global {
    display: grid;
    display: grid; 
    grid-template-columns: 0.3fr 1fr; 
    gap: 0px 20px; 
    grid-template-areas:
      "container_rules container_game";
      
  }
  
  .container_rules { grid-area: container_rules;
    flex-wrap: wrap; }
  
  .container_game { grid-area: container_game; }
  


#gameContainer{
    width: 640px;
    height: 640px;
    margin: 0 auto;
    background-image: url(../assets/background.png);
    position: relative;
    overflow: hidden;

}



#player{
     width: 60px;
    height:60px; 
    background-image: url(../assets/player/face-1.png);
    background-size: 100%;
    background-position:  center;
    position: absolute;
    z-index: 2;
}

#bomb{
    width: 50px;
    height: 50px;
    background-image: url(../assets/bomb/bomb.png);
    display: none;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;
}



.enemies{
    width: 45px;
    height: 45px;
    background-image: url(../assets/mechants/bad-guy-1.png);
    position: absolute;
    background-size: cover;
    background-position: center;
}
.boss{
    width: 50px;
    height: 50px;
    background-image: url(../assets/mechants/boss-1.png);
    position: absolute;
    background-size: cover;
    background-position: center;
}
.tileset{
    width: 40px;
    height: 40px;
    background-image: url(../assets/tileset.png);
    position: absolute;
    background-size: cover;
    background-position: center;
}

.container_rules{
    color: white;
    font-family: "poxel-font";
}

#nextLevel{
  border: white;
  color: white;
}
  
  .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
  }
  
  .box:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
  }
  
  .box:hover:before{
    left:-50%;
    transform: skewX(-5deg);
  }
  
  
  .box .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #EDF2F4;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    
  }
  
  .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
  }
  
  .box span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .box span:nth-child(2)
  {
    transform:rotate(90deg);
  }
  
  .box span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box span:nth-child(4)
  {
    transform:rotate(270deg);
  }
  
  .box span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  } 





/* .wall{
    width: 60px;
    height: 60px;
    background-image: url(assets/doomGuy/tileset-2.png);
    position: absolute;
    background-size: cover;
    background-position: center;
}
.wall2{
    width: 60px;
    height: 60px;
    background-image: url(assets/doomGuy/tileset-2.png);
    position: absolute;
    background-size: cover;
    background-position: center;
} */



